.button {
	padding: 8px 12px;
	border: 2px solid;
	border-radius: 20px;
	font-size: 20px;
	transition: all 0.3s;
	cursor: pointer;
}

.dark {
	background-color: rgb(44, 43, 43);
	color: rgb(177, 177, 177);
	border-color: rgb(177, 177, 177);
}

.dark:hover {
	border-color: aquamarine;
	color: aquamarine;
}

.light {
	background-color: rgb(214, 214, 214);
	color: #000;
	border-color: #000;
}

.light:hover {
	border-color: rgb(45, 137, 59);
	color: rgb(45, 137, 59);
}

.button:hover {
	transform: scale(1.1);
}
